/*  */
  .user-icons  {
    display: flex;
    margin-top: 1rem; 
    font-size: 300%;
    cursor: pointer;
    color: #5C5474;
}  
.user-icons:hover {
    color: white;
    text-decoration: none;
}



  


  