.Activities-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;

  grid-auto-rows: minmax(100px, auto);
    margin: 3 auto;
    width: 40%;
    max-width: 100%;    
    padding: 0 1rem;
  margin-top: 2rem;
  font-size: 200%;
}

.Activities-icon {
  cursor: pointer;
}
